#interface {
  margin-top: 90px;
  margin-left: 10px;
  width: 200px;
  height: 200px;
  background-color: #ccc;
  position: absolute;
  z-index: 1;
  border: 1px solid #000;
  float:left;
}

#map {
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#results-panel select, #results-panel input {
  font-size: 15px;
}

#results-panel select {
  width: 100%;
}

#results-panel i {
  font-size: 12px;
}

#results-panel {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #999;
  background: #fff;
  width: 200px;
}

h2 {
  font-size: 22px;
  margin: 0 0 5px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 300px;
  width: 200px;
  overflow-y: scroll;
}

li {
  background-color: #f1f1f1;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

li:nth-child(odd) {
  background-color: #fcfcfc;
}

#more {
  width: 100%;
  margin: 5px 0 0 0;
}

#right-panel {
  font-family: 'Roboto','sans-serif';
  z-index: 2;
  height: 55%;
  margin-top: 90px;
  margin-right: 10px;
  right: 0;
  position: absolute;
  width: 300px;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #000;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}
